@import "tailwindcss";

@variant dark (&:where([data-theme="dark"] *));

@theme inline {
    /* @see: https://github.com/tailwindlabs/tailwindcss/discussions/13410#discussioncomment-11928917 */
    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-heading: var(--font-heading);
}

@layer base {
    html,
    body {
        @apply antialiased min-h-screen scroll-smooth font-sans;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-heading;
    }
    pre,
    code {
        @apply font-mono;
    }
}

/* Debug element */
@utility debug {
    border-width: 1px;
    border-style: dashed;
    border-color: #f87171;
}

/**
 * Make elements with the HTML hidden attribute stay hidden by default.
 * Handle flash of Undefined Custom Elements (FOUCE) when the page loads.
 * @ref: https://www.abeautifulsite.net/posts/flash-of-undefined-custom-elements
 */
:not(:defined) {
  visibility: hidden;
}
